body{
  background: url("./assets/background.jpg");
}
body::-webkit-scrollbar{
  display: none;
}
.Header{
  text-align: center;
  margin-top: 150px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
.card{
  margin: 0 auto;
  width: 40rem;
  height: 250px;
  cursor: pointer;
  transition: .15s;
  transform: perspective(1000px) rotateX(var(--rotate-X, 0));
  transform-style: preserve-3d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: .8;
  user-select: none;
  border-radius: 0;
  border: 3px solid black;
}
.card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  color: black;
}
.card.flip {
  transform: perspective(1000px) rotateX(180deg);
}
.card-body.back {
  transform: rotateX(180deg);
}
.btn{
  background: none;
  font-size: 50px;
  border: none;
}
.legend{
  background-color:black;
  opacity: .8;
  width: fit-content;
}
.legend h5{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align:justify;
}
.images {
  max-width: 100px;
}
.inputRow{
  width:39rem;
  align-items: center;
  text-align: end;
}
.inputRow .col button{
  background: none;
  border: none;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.currentStreak{
  color: greenyellow;
}
.longestStreak{
  color: red;
}
.signifier{
  border: 2px solid black;
  outline:none;
  color: black;
}
.signifierCorrect{
  border: 5px solid greenyellow;
  outline: none;
}
.signifierWrong{
  border: 5px solid red;
  outline: none;
}
.emojisContainer{
  display: flex;
}
.masteredList{
  color: white;
  margin-right: 15rem;
  margin-top: 15rem;
  text-align: center;
}
.masteredList h2{
  color: white;
  list-style-type: none 
}
.masteredList ul{
  list-style-type: none;
}
.deckComplete{
  background-color:aquamarine;
}
.cardCount{
  color:hotpink;
}
